@import 'variables';

.join-form {
  display: inline-block;
}

.join-enter {
  max-width: 300px;
  margin: 5px;
  font-family: var(--tile-font);
}

.join-button {
  max-width: 300px;
  margin: 5px;
  padding: 0;
  font-family: var(--tile-font);
  background-color: var(--tile-contains-bg);
  color: var(--tile-text-color);
}

.create-button{
  max-width: 300px;
  margin: 5px;
  font-family: var(--tile-font);
  color: var(--tile-text-color);
  background-color: var(--tile-right-bg);
}

.create-container {
  align: center;
  text-align: center;
  font-family: var(--tile-font);
}
