:root {
  --tile-default-bg: #C1CCD7;
  --tile-right-bg: #A0E8AF;
  --tile-wrong-bg: #DB5461;
  --tile-contains-bg: #FFC800; 
  --tile-size: 50px;
  --tile-margin: 10px;
  --tile-text-color: #211D33;
  --tile-font: 'Cousine', monospace;
  --tile-font-size: 40px;
}
