@import url('https://fonts.googleapis.com/css2?family=Cousine:wght@700&family=Fira+Sans&display=swap');
@import 'bootstrap/dist/css/bootstrap';

:root {
  --tile-default-bg: #C1CCD7;
  --tile-right-bg: #A0E8AF;
  --tile-wrong-bg: #DB5461;
  --tile-contains-bg: #FFC800; 
  --tile-size: 50px;
  --tile-margin: 2px;
  --tile-text-color: #211D33;
  --tile-font: 'Cousine', monospace;
  --tile-font-size: 40px;

  --word-secondary-bg: #EEEEEE;

  --table-width: 300px;
  --text-font: 'Fira Sans', sans-serif;
}
