@import 'variables.css';
.word-table {
  width: 100%;
}

.guess {
  font-family: "Fira Sans", sans-serif;
  text-align: left;
}

.words-primary {
  padding: 5px;
}

.words-secondary {
  background-color: var(--word-secondary-bg);
  padding: 5px;
}

.row {
  max-width: 330px;
  padding: 0px;
  margin: 0px;
}
